#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

}

#hero h1 {
    font-size: var(--fz-h1);
}

#somos-jump .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* margin: 55px 0px; */
    height: 90vh;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url(../assets/quienes-somos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#somos-jump h2 {
    padding: 20px 0;
    margin-bottom: 80px;
}


#info-container .carta {
    padding: 40px 0px;
    background-color: #1811222c;
    margin: 20px;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
.carta.hidden {
    opacity: 0;
    transform: translateY(50px);
}
#info-container .cart-container {
    text-align: center;
    margin: 0px 10px;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
#info-container:hover .cart-container{
    opacity: 1;
    transform: translateX(0);
}


#nuestro-proposito {
    text-align: center;
    padding: 200px 12px;
}

#nuestros-valores .container {
    text-align: center;
    padding: 100px 12px;
}

#nuestro-valores h2 {
    margin-top: 0;
    font-size: var(--fz-h1);
}

#nuestro-valores p {
    display: none;
}


#hero .cursos-valores{
    margin-top: 130px ;
}
.curso{
    margin-bottom: 20px;
}