 @import url("sections.css");
 @import url("headers.css");
 :root{
    --oscuro: #000;
    --p-color:  blueviolet;
    /* --s-color: */
    --bg-home: #34086d;
    --btn-bg: blueviolet;
    --btn-hover: rgb(101, 33, 165);
    --blanco: #f7f2f2;
    --titulos: "Barlow", italic;
    --parrafos: "Barlow Condensed";
    --fz-h1: 3.5em;
    --fz-h2: 2.7em;
    --fz-h3: 2em;
    --fz-p: 1.25em;
    --fz-li: 1.25em;
    --fz-btn: 1.25em
    
}
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--parrafo);
    margin: 0;
    color: var(--blanco);
    background-color: var(--bg-home);
}
h1, h2{
    font-family: var(--titulos); 
}

h3, h4, p, a, span{
    font-family: var(--parrafos);
    color: var(--blanco);
}
span{
    font-weight: bold;
}
.nav-link{
    color:#f7f2f2;
    text-decoration: none;
}
ul{
    list-style: none;
}

button{
    font-size: var(--fz-btn);
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0,3);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0,5);
    color: var(--blanco);
    background-color: var(--btn-bg);

}
button:hover{
    background-color: var(--btn-hover);
}
.container{
    max-width: 1400px;
    margin: auto
}



